.container {
    width: 50%;
    margin-left: 50px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    height: 50px;
    /* font-weight: 800; */
}

.HabitName span{
    font-weight: 500;
    
}

.heading {
    font-size: 1.5rem;
    font-weight: 650;
}

.add_btn {
    background: linear-gradient(135deg, #4ac6d9, #61d89f);
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.add_btn:hover {
    background: linear-gradient(135deg, #4bb6c6, #5fb68c);
}



/* Tablets */
@media (max-width: 992px) {
    .container {
        width: 70%;
    }

    .heading {
        font-size: 1.3rem;
    }

    .add_btn {
        padding: 8px 18px;
        font-size: 0.95rem;
    }
}

/* Mobiles*/
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .title {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .add_btn {
        width: 100%;
        text-align: center;
    }
}

/* Small mobiles*/
@media (max-width: 480px) {
    .heading {
        font-size: 1.2rem;
    }

    .add_btn {
        padding: 10px;
        font-size: 0.9rem;
    }
}