.container{
     width: 50%;    
     margin-left: 50px;       
}

.title {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 20px;
    height: 50px;
}

.heading {
    font-size: 1.5rem;
    font-weight: 650;
}

.add_btn {
    background: linear-gradient(135deg, #4ac6d9, #61d89f);
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.add_btn:hover {
    background: linear-gradient(135deg, #4bb6c6, #5fb68c);
}