.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.topRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  /* justify-content: flex-start; */
  /* margin-bottom: 20px; */
}

.heading {
  font-size: 28px;
  font-weight: bold;
  /* margin-bottom: 15px; */
  margin: 0; 
}

.searchBar {
  padding: 10px 12px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid #ccc;
  /* margin-bottom: 20px; */
  margin: 0; 
  font-size: 16px;
}

.habitList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 250px;
  /* margin: auto; */
  margin-top: 10px;
  margin-left: 0;
}

.habitCard {
  padding: 12px;
  background: #f2f2f2;
  border-radius: 12px;
  font-size: 17px;
}

.add_btn {
  background: linear-gradient(135deg, #4ac6d9, #61d89f);
  color: white;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  height: 50px;
}

.add_btn:hover {
  background: linear-gradient(135deg, #4bb6c6, #5fb68c);
}

.allHabits {
  display: flex;
  flex-wrap: wrap;
  height: 250px;
  gap: 20px;
  /* background-color: yellow; */
  height: fit-content;
  margin-top: 30px;
}

.fullHabitCard {
  width:500px;
  /* padding: 18px; */
  background: #f4eeee;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 500;
  margin-left: 100px;
  margin-right: 50px;
  height: 250px;
}


