.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #4ac6d9, #61d89f);
    color: white;
    padding: 1rem 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.title {
    font-size: 1.7rem;
    font-weight: 600;
}

.links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    cursor: pointer;
}

.link:hover{
    color: #bfdbfe;
    cursor: pointer;
}

.lists{
    font-size: 1.4rem;
}
